/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

/* Variaveis */
:root{

    /* Cor Principal*/


    /* Cores */
    --cor-texto: #717171;
    --cor-texto-titulo: #7E7E7E;
    --cor-texto-card: #999999;
    --cor-texto-escolhido: white;
    --cor-detalhes: #b54bf2;
    --cor-detalhes-escuro: #d6d6d6;
    --cor-bordas: #ccc;
    --cor-warning: rgb(248, 51, 51);

    /* Tipografia e fontes */
    --fonte-tipo: font-family: 'Montserrat', sans-serif;

        /* tamanho */
    --fonte-tamanho-h1: 1.5rem;
    --fonte-tamanho-h2: 1.25rem;
    --fonte-tamanho-h3: 1.125rem;
    --fonte-tamanho-normal: 1rem;
    --fonte-tamanho-pequeno: .8rem;
    --fonte-tamanho-menor: .7rem;

        /* peso */
    --fonte-peso-leve: 300;
    --fonte-peso-normal: 400;
    --fonte-peso-pesado: 600;

        /* Margens */
    --m-05p: 0.313rem;
    --m-10p: 0.625rem;
    --m-15p: 0.938rem;
    --m-20p: 1.3rem;
    --m-25p: 1.563rem;
    --m-30p: 1.875rem;
    --m-40p: 2.5rem;
    
    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--fonte-tipo);
    font-size: var(--fonte-tamanho-normal);
    color: var(--cor-texto);
}
h1,h2,h3{
    font-weight: var(--fonte-peso-pesado);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}

/* Estilos */

/* layout */
.section{
    padding: 1.3rem 0;
}
.section__title{
    font-size: var(--fonte-tamanho-h1);
}
.section__subtitle{
    font-size: var(--fonte-tamanho-h2);
}
.section__last-title{
    font-size: var(--fonte-tamanho-h3);
}
.section__title,
.section__subtitle,
.section__last-title{
    text-align: center;
    color: var(--cor-texto-titulo);
}
.section__text{
    color: var(--cor-texto-card);
    margin-top: var(--m-10p);
}
.section__button{

}

/* Reusaveis */
.container{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}
.grid{
    display: grid;
    gap: 1.5rem;
}
.flex{
    display: flex;
    flex-direction: row;
}
.active{
    color: var(--cor-texto-escolhido);
}

    /* Navegacao */
body.open-menu .navegacao{
    left: 0;
}
body.open-menu .nav__toggle{
    left: 17.800rem;
}
.navegacao{
    width: 20rem;
    /* max-width: 320px; */
    height: 100vh;
    background-color: #2d3035;
    position: fixed;
    transition: ease-in-out .3s;
    left: -17rem; /* -17rem */
    z-index: var(--z-fixed);
}
.topo{
    padding: var(--m-20p) 0;
    height: 4.3rem;
    background-color: #26282d;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
}
.logo{
    color: var(--cor-texto-escolhido);
    font-weight: var(--fonte-peso-leve);
    user-select: none;
    text-transform: uppercase;
}
.nav__toggle{
    font-size: 1.5rem;
    position: fixed;
    left: .825rem;/* 20. 17.650rem */
    /* bottom: 50%;
    transform: translateY(50%); */
    transition: ease-out .3s;
    text-shadow: 0px 0px 2px rgba(100, 100, 100, 0.7);
    cursor: pointer;
}
.nav__toggle:hover{
    color: var(--cor-texto-escolhido);
}
.nav__menu{
    padding: var(--m-40p) 0;
    text-align: center;
    font-size: var(--fonte-tamanho-normal);
}
.menu__lista{
    gap: 2rem;
}
.menu__item.active .nav__icone{
    color: var(--cor-detalhes);
}
.menu__item.active > .menu__link{
    color: var(--cor-texto-escolhido);
}
.menu__item:last-child{
   grid-row: 12;
   position: relative;
}
.menu__item:last-child::before{
    content: "";
    display: block;
    position: relative;
    width: 50%;
    height: 1px;
    margin: auto;
    top: -20px;
    background-color: var(--cor-texto);
}
.menu__item:last-child .menu__link:hover .nav__icone{
    color: var(--cor-warning);
}
.menu__link{
    color: var(--cor-texto);
    text-transform: uppercase;
    line-height: 1.125rem;
    transition: ease-out .3s;
    position: relative;
    display: grid;
}
.menu__link:hover .nav__icone{
    color: var(--cor-detalhes);
}
.menu__link:hover{
    color: var(--cor-texto-escolhido);
}
.nav__icone{
    font-size: 1.125rem;
    position: absolute;
    right: 1rem;
    /* 3rem */
}

/* main */
.main{
    max-width: calc(100vw - 3rem);
    position: relative;
    left: 3rem;
    transition: ease-in-out .3s;
    /* padding: var(--m-25p); */
}

/* header main */
.main__header{
    height: 4.3rem;
    text-align: right;
    grid-template-columns: 2fr 1fr 1fr;
    padding: var(--m-15p) var(--m-15p);
    border-bottom: 2px solid var(--cor-bordas);
}
.main__header p{
    align-self: center;
    text-transform: uppercase;
}
#search__field{
    outline: none;
    border: 1px solid var(--cor-detalhes-escuro);
    height: 2rem;
    line-height: 1.5rem;
    font-size: var(--fonte-tamanho-normal);
    padding-left: 1rem;
    color: var(--cor-texto);
}
.header__icon__single:hover{
    color: var(--cor-texto-escolhido);
}
.sino{
    color: var(--cor-warning);
    position: relative;
}
.sino::before{
    content:"2";
    display: block;
    position: absolute;
    right: -.2rem;
    top: -.2rem;
    width: 1rem;
    height: 1rem;
    font-size: var(--fonte-tamanho-menor);
    line-height: 1rem;
    text-align: center;
    border-radius: 50%;
    background-color: var(--cor-warning);
    color: white;
}
.header__pesquisa{
    display: flex;
    align-items: center;
    height: 2rem;
}
.header__icon__single{
    background-color: var(--cor-detalhes-escuro);
    text-align: center;
    width: 2rem;
    height: 2rem;
    border-radius: 2px;
    line-height: 2rem;
    cursor: pointer;
    transition: ease-in-out .3s;
}

/* Article Principal */
.section-wraper{
    display: flex;
}

/* conteudo */
.conteudo__list{
    width: 75%;
    padding: var(--m-15p);
    height: calc(100vh - 4.3rem);
    background-color: #FAF8FB;
    overflow-y: auto;
}
.conteudo__item{
    background-color: white;
    border: 1px solid var(--cor-bordas);
    box-shadow: 0 0 3px var(--cor-bordas);
    padding: var(--m-30p);
}
.conteudo__item h2{
    text-transform: uppercase;
    text-align: left;
}

/* Atualizacoes */
.last-Updates{
    width: 25%;
    height: calc(100vh - 4.3rem);
    background-color: #eaebeb;
    padding: var(--m-20p);
    overflow-y: auto;
}
.updates__topo{
    border-bottom: 1px solid var(--cor-bordas);
    margin-bottom: var(--m-20p);
}
.updates__topo h2{
    font-size: var(--fonte-tamanho-normal);
    text-transform: uppercase;
}
.updates__item{
    padding-left: var(--m-20p);
    /* border-left: 2px solid var(--cor-bordas); */
    position: relative;
}
.updates__item::before{
    content: "";
    display: block;
    position: absolute;
    left: -8px;
    width: 10px;
    height: 10px;
    border: 2px solid var(--cor-bordas);
    border-radius: 50%;
    background-color: var(--cor-bordas);
}
.updates__item::after{
    content: "";
    display: block;
    position: absolute;
    left: -2px;
    top: 0;
    width: 2px;
    height:130%;
    background-color: var(--cor-bordas);    
}
.updates__item:last-of-type::after{
    height: 100%;
}
.updates__item h3{
    font-size: var(--fonte-tamanho-pequeno);
    color: var(--cor-texto-card)
}
.updates__item h2{
    font-size: var(--fonte-tamanho-normal);
}
.updates__item p{
    color: var(--cor-texto-card);
    font-size: var(--fonte-tamanho-pequeno);
}
span.updates__span-object{
    text-decoration: underline;
}
span.updates__span-object,
span.updates__span-user{
    color: var(--cor-texto);
}

@media screen and (max-width:480px){
    .navegacao{
        left: -20rem;
    }
    .main{
        width: 100vw;
        left: 0;        
    }
}

@media screen and (min-width:1024px){
    .navegacao{
        left: 0;
    }
    .nav__toggle{
        display: none;
    }
    .navegacao .nav__icone{
        right: 2.5rem;
    }
    .main{
        width: calc(100vw - 20rem);
        left: 20rem;
    }
}