/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

/* Variaveis */
:root{

    /* Cor Principal*/


    /* Cores */
    --cor-texto: #717171;
    --cor-texto-escolhido: white;
    --cor-detalhes: #b54bf2;

    /* Tipografia e fontes */
    --fonte-tipo: font-family: 'Montserrat', sans-serif;

        /* tamanho */
    --fonte-tamanho-h1: 1.5rem;
    --fonte-tamanho-h2: 1.25rem;
    --fonte-tamanho-h3: 1.125rem;
    --fonte-tamanho-normal: 1rem;
    --fonte-tamanho-pequeno: .8rem;
    --fonte-tamanho-menor: .7rem;

        /* peso */
    --fonte-peso-leve: 300;
    --fonte-peso-normal: 400;
    --fonte-peso-pesado: 600;

        /* Margens */
    --m-05p: 0.313rem;
    --m-10p: 0.625rem;
    --m-15p: 0.938rem;
    --m-20p: 1.3rem;
    --m-25p: 1.563rem;
    --m-30p: 1.875rem;
    --m-40p: 2.5rem;
    
    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--fonte-tipo);
    font-size: var(--fonte-tamanho-normal);
    color: var(--cor-texto);
}
h1,h2,h3{
    font-weight: var(--fonte-peso-pesado);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}

/* Estilos */

/* layout */
.section{
    padding: 1.3rem 0;
}
.section__title{
    font-size: var(--fonte-tamanho-h1);
}
.section__subtitle{
    font-size: var(--fonte-tamanho-h2);
}
.section__last-title{
    font-size: var(--fonte-tamanho-h3);
}
.section__title,
.section__subtitle,
.section__last-title{
    text-align: center;
}

/* Reusaveis */
.container{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}
.grid{
    display: grid;
    gap: 1.5rem;
}
.flex{
    display: flex;
    flex-direction: row;
}
.active{
    color: var(--cor-texto-escolhido);
}

    /* Navegacao */
.navegacao{
    width: 20rem;
    /* max-width: 300px; */
    height: 100vh;
    background-color: #2d3035;
    position: fixed;
    transition: ease-in-out .5s;
    left: -17rem;
    z-index: var(--z-fixed);
}

.topo{
    padding: var(--m-20p) 0;
    background-color: #26282d;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
}
.logo{
    color: var(--cor-texto-escolhido);
    font-weight: var(--fonte-peso-leve);
    user-select: none;
    text-transform: uppercase;
}
.nav__toggle{
    font-size: 1.5rem;
    position: fixed;
    left: .825rem;/* 20. */
    /* bottom: 50%;
    transform: translateY(50%); */
    transition: ease-out .3s;
    text-shadow: .1px .1px .1px rgba(100, 100, 100, 0.6);
}
.nav__toggle:hover{
    color: var(--cor-texto-escolhido);
}
.nav__menu{
    padding: var(--m-40p) 0;
    text-align: center;
    font-size: var(--fonte-tamanho-normal);
}
.menu__item.active .nav__icone{
    color: var(--cor-detalhes);
}
.menu__item.active > .menu__link{
    color: var(--cor-texto-escolhido);
}
.menu__link{
    color: var(--cor-texto);
    text-transform: uppercase;
    line-height: 1.125rem;
    transition: ease-out .3s;
    position: relative;
    display: grid;
    grid-template-columns: 1fr; 
}
.menu__link:hover .nav__icone{
    color: var(--cor-detalhes);
}
.menu__link:hover{
    color: var(--cor-texto-escolhido);
}
.nav__icone{
    font-size: 1.125rem;
    position: absolute;
    right: 1rem;
    /* 3rem */
}

@media screen and (max-width:480px){
    .navegacao{
        left: -20rem;
    }
}
@media screen and (min-width:769px){
    .navegacao{
        left: 0;
    }
    .nav__toggle{
        display: none;
    }
    .navegacao .nav__icone{
        right: 2.5rem;
    }
}

/* main */
main{
    /* max-width: 80vw; */
    /* background-color: black; */
}